.title {
    margin: 0;
    font-size: 5em;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .title {
        font-size: 2.6em;
    }
}

#web-projects {
    padding: 50px 0;
    height: 100vh;
    background-color: var(--color-background);
}
@media (max-width: 1024px) {
    #web-projects {
        height: 100%;
        padding: 20vh 0;
    }
}

#web-projects h2 {
    padding-left: 6.4vw;
    text-align: left;
    width: 100%;
}

#web-projects {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#web-projects video {
    max-width: 60vw;
    min-height: 100px;
    min-width: 100px;
    border-radius: 12px;
    pointer-events: all;
}

#web-projects img {
    max-width: 100%;
    height: 100%;
    border-radius: 12px;
    pointer-events: all;
}

.swiper-slide{
    border-radius: 5px;
}
.swiper-pagination-bullet-active{
    width: 25px!important;
}

.swiper-pagination-bullet {
    width: 25px;
    height: 4px!important;
    border-radius: 8px!important;
    transition: width ease .5s;
}
@media (max-width: 1024px) {
    .swiper-pagination-bullet{
        width: 10vw!important;
    }
}

.swiper-pagination {
    position: relative!important;
    text-align: center!important;
    transition: .3s opacity!important;
    transform: translate3d(0, 0, 0)!important;
    bottom: 0!important;
}

.description > a {
    color: black;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.description {
    pointer-events: all;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background: hsla(0, 0%, 100%, .38);
    border-radius: 0 10px 0 10px;
    font-size: 3em;
    padding: 15px;
    position: absolute;
    z-index: 15;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
    bottom: 6px
}

@media (max-width: 1024px) {
    .description {
        font-size: 1.3em;
        padding: 10px;
        width: fit-content;
    }
}

.swiper-wrapper{
    pointer-events: none!important;
}
