#name, #name-hidden {
    font-size: 20px;
    font-weight: bold;
    color: var(--color-text);
    text-transform: uppercase;
    position: relative;
}

.hidden-socials {
    display: flex;
    gap: 9px;
    justify-content: left;
    align-items: center;
}
.hidden-socials svg path {
    fill: var(--color-text);
}

.hidden {
    opacity: 0;
    display: none;
}

.invisible {
    opacity: 0!important;
    transition: opacity 0.1s ease;
}

.head {
    top: 0;
    padding-top: 7px;
    background: var(--color-background);
    position: fixed;
    width: 100vw;
    overflow: hidden;
    display: block;
    z-index:10;
    /*box-shadow: -2px 1px 20px 13px #fff*/
}

.head .flex {
    display: flex;
}

.img-mask {
    overflow: hidden;
    height: 284px;
    width: 47vw;
    max-width: 213px;
}

img {
    height: 284px;
}

.photo {
    display: flex;
}

#profile-photo-2 {
    height: 117px;
}

#image-title {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 20px;
    text-align: center;
    height: 302px;
}

.skills-icons {
    display: flex;
    align-self: center;
}

.skills-icons ul li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    line-height: 2.2;
    align-items: center;
    gap: 9px;
}

.skills-icons ul {
    padding: 0;
    align-content: center;
    position: absolute;
    top: 30px;
}
.skills-icons path {
    fill: var(--color-text);
}

.hidden-container{
    margin-left: 28px;
    min-width: 163px;
}
